@import 'constant.scss';

@mixin advance($media) {
  // gutter
  @for $i from 1 through 8 {
    .#{$media}g-#{$i},
    .#{$media}gx-#{$i} {
      & > div + div {
        margin-left: calc($size * $i);
      }
    }

    .#{$media}gy-#{$i} {
      & > div + div {
        margin-top: calc($size * $i);
      }
    }
  }

  .#{$media}max-w100 {
    max-width: 100%;
  }

  .#{$media}max-h100 {
    max-height: 100%;
  }

  .#{$media}pointer {
    cursor: pointer;
  }

  .#{$media}overflow-hidden {
    overflow: hidden;
  }

  .#{$media}scroll {
    overflow: auto;
  }

  .#{$media}scroll-x {
    overflow-x: auto;
  }

  .#{$media}scroll-y {
    overflow-y: auto;
  }

  .#{$media}hidden {
    display: none;
  }

  .#{$media}block {
    display: block;
  }

  .#{$media}inline-block {
    display: inline-block;
  }

  .#{$media}inline {
    display: inline;
  }

  .#{$media}h-after-line {
    &::after {
      position: absolute;
      content: ' ';
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: $gray-100;
    }
  }

  .#{$media}h-after-border {
    &::after {
      content: ' ';
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      transform: scale(0.5);
      transform-origin: 0 0;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }
}

@include advance('');
@media (min-width: 640px) {
  @include advance(sm_);
}

@media (min-width: 768px) {
  @include advance(md_);
}

@media (min-width: 1024px) {
  @include advance(lg_);
}

@media (min-width: 1280px) {
  @include advance(xl_);
}
