@import 'constant.scss';
@import 'colors.scss';

@mixin basic($media) {
  // font-weight
  @for $i from 1 through 9 {
    .#{$media}fw-#{$i * 100} {
      font-weight: 100 * $i;
    }

    // opacity
    .#{$media}opacity-#{$i} {
      opacity: $i;
    }
  }

  // width & height & padding & margin
  @for $i from 0 through 64 {
    // font-size
    .#{$media}f-#{$i} {
      font-size: calc(1px * $i);
    }

    .#{$media}w-#{$i} {
      width: calc($size * $i);
    }

    .#{$media}h-#{$i} {
      height: calc($size * $i);
    }

    .#{$media}m-#{$i} {
      margin: calc($size * $i);
    }

    .#{$media}mt-#{$i} {
      margin-top: calc($size * $i);
    }
    .#{$media}mr-#{$i} {
      margin-right: calc($size * $i);
    }
    .#{$media}mb-#{$i} {
      margin-bottom: calc($size * $i);
    }
    .#{$media}ml-#{$i} {
      margin-left: calc($size * $i);
    }
    .#{$media}mx-#{$i} {
      @extend .#{$media}ml-#{$i};
      @extend .#{$media}mr-#{$i};
    }
    .#{$media}my-#{$i} {
      @extend .#{$media}mt-#{$i};
      @extend .#{$media}mb-#{$i};
    }

    .#{$media}p-#{$i} {
      padding: calc($size * $i);
    }

    .#{$media}pt-#{$i} {
      padding-top: calc($size * $i);
    }
    .#{$media}pr-#{$i} {
      padding-right: calc($size * $i);
    }
    .#{$media}pb-#{$i} {
      padding-bottom: calc($size * $i);
    }
    .#{$media}pl-#{$i} {
      padding-left: calc($size * $i);
    }
    .#{$media}px-#{$i} {
      @extend .#{$media}pl-#{$i};
      @extend .#{$media}pr-#{$i};
    }
    .#{$media}py-#{$i} {
      @extend .#{$media}pt-#{$i};
      @extend .#{$media}pb-#{$i};
    }

    // minus
    .#{$media}-m-#{$i} {
      margin: calc($size * $i);
    }

    .#{$media}-mt-#{$i} {
      margin-top: calc(0px - $size * $i);
    }
    .#{$media}-mr-#{$i} {
      margin-right: calc(0px - $size * $i);
    }
    .#{$media}-mb-#{$i} {
      margin-bottom: calc(0px - $size * $i);
    }
    .#{$media}-ml-#{$i} {
      margin-left: calc(0px - $size * $i);
    }
    .#{$media}-mx-#{$i} {
      @extend .#{$media}-ml-#{$i};
      @extend .#{$media}-mr-#{$i};
    }
    .#{$media}-my-#{$i} {
      @extend .#{$media}-mt-#{$i};
      @extend .#{$media}-mb-#{$i};
    }

    .#{$media}-p-#{$i} {
      padding: calc(0px - $size * $i);
    }

    .#{$media}-pt-#{$i} {
      padding-top: calc(0px - $size * $i);
    }
    .#{$media}-pr-#{$i} {
      padding-right: calc(0px - $size * $i);
    }
    .#{$media}-pb-#{$i} {
      padding-bottom: calc(0px - $size * $i);
    }
    .#{$media}-pl-#{$i} {
      padding-left: calc(0px - $size * $i);
    }
    .#{$media}-px-#{$i} {
      @extend .#{$media}-pl-#{$i};
      @extend .#{$media}-pr-#{$i};
    }
    .#{$media}-py-#{$i} {
      @extend .#{$media}-pt-#{$i};
      @extend .#{$media}-pb-#{$i};
    }

    .#{$media}b-#{$i} {
      border-radius: calc($size * $i);
    }

    .#{$media}left-#{$i} {
      left: calc($size * $i);
    }
    .#{$media}right-#{$i} {
      right: calc($size * $i);
    }
    .#{$media}top-#{$i} {
      top: calc($size * $i);
    }
    .#{$media}bottom-#{$i} {
      bottom: calc($size * $i);
    }
  }

  .#{$media}flex {
    display: flex;
  }

  .#{$media}flex-column {
    display: flex;
    flex-direction: column;
  }

  .#{$media}flex-row {
    display: flex;
    flex-direction: row;
  }

  .#{$media}align-start {
    align-items: flex-start;
  }

  .#{$media}align-center {
    align-items: center;
  }

  .#{$media}align-end {
    align-items: flex-end;
  }

  .#{$media}justify-start {
    justify-content: flex-start;
  }

  .#{$media}justify-center {
    justify-content: center;
  }

  .#{$media}justify-end {
    justify-content: flex-end;
  }

  .#{$media}flex-center {
    align-items: center;
    justify-content: center;
  }

  .#{$media}flex-1 {
    flex: 1;
  }

  .#{$media}bg-white {
    background-color: white;
  }

  .#{$media}bg-black {
    background-color: black;
  }

  @for $i from 1 through 9 {
    .#{$media}bg-white-#{$i} {
      background-color: rgb(255, 255, 255, $i * 0.1);
    }

    .#{$media}bg-dark-#{$i} {
      background-color: rgb(0, 0, 0, $i * 0.1);
    }
  }

  .#{$media}white {
    color: white;
  }

  .#{$media}dark {
    color: black;
  }

  @for $i from 1 through 9 {
    .#{$media}white-#{$i} {
      color: rgb(255, 255, 255, $i * 0.1);
    }

    .#{$media}dark-#{$i} {
      color: rgb(0, 0, 0, $i * 0.1);
    }
  }

  .#{$media}b50 {
    border-radius: 50%;
  }

  .#{$media}h100 {
    height: 100%;
  }

  .#{$media}w100 {
    width: 100%;
  }

  .#{$media}relative {
    position: relative;
  }

  .#{$media}absolute {
    position: absolute;
  }

  .#{$media}fixed {
    position: fixed;
  }

  .#{$media}ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    // display: -webkit-box;
    // -webkit-line-clamp: 1;
    // -webkit-box-orient: vertical;
  }

  // z-index
  @for $i from 1 through 10 {
    .#{$media}z-#{$i} {
      z-index: $i;
    }
  }

  .#{$media}shadow-sm {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  .#{$media}shadow {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .#{$media}shadow-md {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .#{$media}shadow-lg {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .#{$media}shadow-inner {
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  }

  .#{$media}shadow-none {
    box-shadow: 0 0 #0000;
  }


}
